body {
     overflow-x: hidden;
     padding: 0%;
     margin: 0%;

}

nav {
     background-color: rgb(27, 27, 27);
     color: white;
     height: 4rem;
     align-items: center;
     justify-content: right;
     display: flex;
     gap: 30px;
     padding-right: 2%;
     border-bottom: 2px solid white;
     min-width: 100%;
     text-wrap: nowrap;
     overflow-x: auto;


}

.link {
     color: white;
     outline: 0;
     border: 0;
     text-decoration: none;
     border: 2px solid white;
     padding: 10px;
     border-radius: 20px;
     width: 100px;
     text-align: center;
     font-size: 17px;
     min-width: fit-content;
}

.link:hover {
     color: red;
}

.fundo_usuario {
     width: 100%;
     text-wrap: nowrap;
     display: flex;
     gap: 10px;
     padding-left: 20px;
}

.corpo {

     /* background-color: rgb(10, 19, 95); */
     width: 100%;
     height: 100%;
     min-height: 100vh;
     padding: 5%;
     padding-bottom: 10rem;
     margin: 0%;
     display: flex;
     flex-wrap: wrap;
     gap: 30px;
     /* background-image: url("https://i.pinimg.com/originals/f0/b7/db/f0b7db8e10f6be51992df5e07d456109.gif"); */
     background-color: rgb(1, 1, 100);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     justify-content: center;
}

.button {
     display: block;
     background-color: aliceblue;
     width: fit-content;
     height: 260px;
     border: 3px solid red;
     align-items: center;
     justify-content: center;
     justify-self: center;
     align-content: center;
     align-self: center;
     padding: 10px;
     padding-bottom: 0px;



}

.img_music {
     height: 200px;
     width: 200px;

}

.button_play {
     position: relative;
     background: none;
     outline: none;
     border: none;
     top: -80px;
     left: 120px;
     justify-content: left;
     text-align: left;

}

#button_img {
     height: 50px;
     width: 50px;
     background-color: rgb(0, 0, 0);
     color: rgb(6, 255, 39);
     border-radius: 50px;

}

.nome {
     width: 200px
}

.audio {
     position: fixed;
     bottom: 0%;
     left: 5%;
     width: 90%;
     background-color: #333;
     color: white;
     text-align: center;
     z-index: 1;
     border-radius: 30px;

}

.fixo-inferior {
     position: fixed;
     bottom: 0rem;
     width: 100%;
     background-color: #333;
     color: white;
     text-align: center;
     padding: 10px;
     z-index: 0;
}

#canvas {
     position: fixed;
     bottom: 0rem;
     left: 5%;
     width: 90%;
     background-color: #333;
     color: white;
     z-index: 0;
     background-color: #33333300;
     height: 130px;
     border: 2px solid white;
     border-radius: 30px;

}

audio::-webkit-media-controls-panel {
     background-color: #444444;
     /* Cor de fundo */
     color: white;

}

audio::-webkit-media-controls-panel {
     background-color: #fafafa;
     /* Cor de fundo do painel */
}

/* Estilizando o botão de play/pause */
audio::-webkit-media-controls-play-button {
     background-color: #ffffff;
     /* Cor do botão de play/pause */
}

/* Estilizando o controle de volume */
audio::-webkit-media-controls-volume-slider {
     background-color: #ffffff;
     /* Cor do controle de volume */
     flood-color: white;
}

/* Estilizando a barra de progresso */
audio::-webkit-media-controls-timeline {
     background-color: #ffffff;
     /* Cor da barra de progresso */
}